<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.didichuxing.decision.dao.CityDao">

    <select id="selectAll" resultMap="CityMap">
        SELECT id, list_num, cn_name, pinyin
        FROM city
    </select>

    <resultMap id="CityMap" type="City">
        <id column="id" property="id" javaType="long"/>
        <result column="list_num" property="listNum" javaType="String"/>
        <result column="cn_name" property="chineseName" javaType="String"/>
        <result column="pinyin" property="pinYin" javaType="String"/>
    </resultMap>
</mapper>