<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.didichuxing.decision.dao.FeatureDao">

    <resultMap id="FeatureMap" type="Feature">
        <id column="id" property="id" javaType="long"/>
        <result column="name" property="name" javaType="String"/>
        <result column="logical_name" property="logicalName" javaType="String"/>
        <result column="data_type" property="dataType" javaType="String"/>
        <result column="category" property="category" javaType="int"/>
        <result column="table_name" property="tableName" javaType="String"/>
        <result column="status" property="status" javaType="int"/>
        <result column="scenario" property="scenario" javaType="int"/>
        <result column="comment" property="comment" javaType="String"/>
        <result column="sample" property="sample" javaType="String"/>
        <result column="create_time" property="createTime" javaType="String"/>
        <result column="modify_time" property="modifyTime" javaType="String"/>
        <result column="explanation" property="explanation" javaType="String"/>
        <result column="type" property="type" javaType="int"/>
        <result column="cal_logic" property="calculateLogic" javaType="String"/>
        <result column="tag" property="tag" javaType="int"/>
        <result column="default_value" property="defaultValue" javaType="String"/>
        <result column="histogram_data" property="histogramData" javaType="String"/>
        <result column="update_frequency" property="updateFrequency" javaType="String"/>
        <result column="storage_period" property="storagePeriod" javaType="String"/>
        <result column="source" property="source" javaType="String"/>
        <result column="maintainer" property="maintainer" javaType="String"/>
        <result column="version" property="version" javaType="String"/>
        <result column="flow_channel" property="flowChannel" javaType="String"/>
        <result column="dependency_service_info_interface_name" property="dSIInterfaceName" javaType="String"/>
        <result column="dependency_service_info_offline_access_mode" property="dSIOfflineAccessMode" javaType="String"/>
        <result column="dependency_service_info_online_access_mode" property="dSIOnlineAccessMode" javaType="String"/>
        <result column="online_access_info_interface_name" property="oAIInterfaceName" javaType="String"/>
        <result column="online_access_info_access_mode" property="oAIAccessMode" javaType="String"/>
        <result column="group" property="group" javaType="String"/>
        <result column="usage_count" property="usageCount" javaType="long"/>
        <result column="online_node" property="onlineNode" javaType="String"/>
        <result column="online_status" property="onlineStatus" javaType="int"/>
        <result column="alias" property="alias" javaType="String"/>
        <result column="effective_data" property="effectiveData" javaType="String"/>
        <result column="online_params" property="onlineParams" javaType="String"/>
        <result column="stats" property="stats" javaType="String"/>
        <result column="business_type" property="businessType" javaType="int"/>
        <result column="user_type" property="userType" javaType="int"/>
        <result column="feature_type" property="featureType" javaType="int"/>
        <result column="source_type" property="sourceType" javaType="int"/>
    </resultMap>
</mapper>