<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.didichuxing.decision.dao.RoleDao">

    <select id="selectByRole" resultMap="RoleMap">
        SELECT user_id, user_name, `group`, role, caller_role
        FROM role
        WHERE role = #{role}
    </select>

    <resultMap id="RoleMap" type="Role">
        <id column="user_id" property="id" javaType="long"/>
        <result column="user_name" property="name" javaType="String"/>
        <result column="group" property="group" javaType="String"/>
        <result column="role" property="role" javaType="int"/>
        <result column="caller_role" property="callerRole" javaType="int"/>
    </resultMap>
</mapper>